.App {
    font-family: "Poppins", cursive;
}

.App {
    text-align: center;
}

.bg {

    margin-left: auto;
    margin-right: auto;
    width: 1048px;
    height: 1610px;
    background-color: white;
    border-radius: 50px;
    margin-top: 50px;
    
}

.body {
    margin-left: auto;
    margin-right: auto;
    width: 1048px;
    height: 150px;
    /* margin-top: 100px; */
    background-color: #0032C8;
    padding-top: 40px;
}

.howtopay {
    margin: 0 auto 0 auto;
    font-size: 50px;
    font-family: "Poppins", cursive;
    color: rgb(0, 0, 0);
}


.goback {
    position: absolute;
    margin-left: -450px;
    width: 50px;
    height: 50px;
}

.pay {
    margin-top: 140px;
    font-size: 40px;
    font-family: "Poppins", cursive;
    color: rgb(0, 0, 0);
}

.qrcode {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #000000;
}
.cancle{
    font-size: 40px;
    font-family: "Poppins", cursive;
    color: rgb(255, 255, 255);
    width: 800px;
    height: 100px;
    border-radius: 100px;
    margin-top: 280px;
    background-color: #0032C8;
}

.helpBus {
    font-size: 35px;
    padding-top: 100px;
    padding-left: 50px;
    font-family: "Poppins", cursive;
    color: aliceblue;

}
.done{
    font-size: 40px;
    font-family: "Poppins", cursive;
    color: rgb(255, 255, 255);
    width: 500px;
    height: 80px;
    border-radius: 100px;
    margin-top:100px;
    background-color: #0032C8;
}
.imgDisabled {
    margin-left: -100px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/public/Poppins/Poppins-Black.ttf) format('truetype');
}