.App {
    font-family: "Poppins", cursive;
}
.App {
    text-align: center;
}

.bg {
    
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    height: 1500px;
    background-color: aliceblue;
    border-radius: 50px;
    margin-top: 0px;
    
}

.body {
    margin-left: auto;
    margin-right: auto;
   
    width: 990px;
    height: 100px;
    /* margin-top: 100px; */
    background-color: #0032C8;
    padding-top: 40px;
}

.howtopay {
    margin-right: 250px;
    font-size: 40px;
    font-family: "Poppins", cursive;
    color: rgb(0, 0, 0);
}


.goback{
    margin-right: 260px;
    width: 30px;
    height: 30px;
}
.success{
    margin-top: 500px;
    width: 200px;
    height: 200px;
    margin-left: 400px;
}
.pay{
    margin-top: 50px;
    font-size: 30px;
    font-family: "Poppins", cursive;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.App {
    text-align: center;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/public/Poppins/Poppins-Black.ttf) format('truetype');
}