*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Popupmenu {
    font-family: "Poppins", cursive;
}

.dp{
    display: flex;
    justify-content: center;
    background-color: red;
}
.PopupMenu {
    text-align: center;
}
/* .dp{
    display: flex;
} */
.onclick{
    z-index: 1;
    position: absolute;
}
.popup_menu{
    background-color: aliceblue;
    width: 300px;
    height: 924px;
    margin-top: -40px;
    padding-top: 20px;
    z-index: 2;
    position: absolute;
}
.pic{
    display: flex;    
}
.back{
    margin-left: 10px ;
    height: 48px;
    width: 48px;
}
.man{
    margin-left: 200px;
    margin-top: -60px;
    width: 67px;
    height: 82px;
}
.login{
    background-color: #0032C8;
    width: 217px;
    height: 47px;
    border-radius: 10px;
    margin-left: 41px;
    margin-top: 55px;
    font-size: 20qpx;
    font-family: "Poppins", cursive;
    color: rgb(255, 255, 255);
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/public/Poppins/Poppins-Black.ttf) format('truetype');
}