.App {
    text-align: center;
  }
.bg{
    display: block;
    width: 1080px;
    height: 1710px;
    background-color: #0032C8;
  }
.header{
    display: flex;
    justify-content: space-between;
  
}





@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/public/Poppins/Poppins-Black.ttf) format('truetype');
  }