.selected-flag {
    width: auto !important;
    justify-content: center;
    display: flex;
    margin: auto auto auto -10px;
}
.react-tel-input {
}

.react-tel-input .flag {
}

.react-tel-input .arrow {
    
}