.App {
    font-family: "Poppins", cursive;
}

.App {
    text-align: center;
}

.bg {

   
    margin-left: auto;
    margin-right: auto;
    width: 1048px;
    height: 1000px;
    /* margin-top: 100px; */
    background-color: #0032C8;
    padding-top: 40px;
    border-radius: 50px;
}

.body {
    margin-left: auto;
    margin-right: auto;
    width: 1048px;
    height: 1700px;
    background-color: aliceblue;
    
    
}
.gbb{
    width: 40px;
    height: 40px;
    margin-left: -900px;
    margin-top: 10px;
}
.gb{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    
}
.login{
    font-size: 60px;
    font-family: "Poppins", cursive;
    color: rgb(255, 255, 255);
    margin-left: -700px;
    margin-top: 30px;
}
.box{
    background-color: aliceblue;
    width: 900px;
    height: 900px;
    
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    display: grid;
}
.phone{
    font-size: 40px;
    font-family: "Poppins", cursive;
    color: rgb(0, 0, 0);
    width: 600px;
    height: 100px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
}
.lb{
    font-size: 40px;
    font-family: "Poppins", cursive;
    color: rgb(255, 255, 255);
    background-color: #0032C8;
    width: 600px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: -200px;
}
.change{
    font-size: 40px;
    font-family: "Poppins", cursive;
    color: #0032C8;
    margin-top: 150px;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/public/Poppins/Poppins-Black.ttf) format('truetype');
}
